body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

h1 {
  color: #1A1A1A;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #1A1A1A;
}

button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #1A1A1A;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #6B6B6B;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  color: #1A1A1A;
  background-color: #f5f5f5;
  border-radius: 5px;
}

li span {
  margin-right: 10px;
  flex-grow: 1;
  text-align: left;
}

.strikethrough {
  text-decoration: line-through;
}

li button {
  margin-left: 10px;
  background-color: #f44336;
}

li button:hover {
  background-color: #f55a4e;
}
